* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "galano";
  src: local("Galano Grotesque"),
    url("../assets/fonts/GalanoGrotesqueAltRegular.otf") format("truetype");
}
@font-face {
  font-family: "galanobold";
  src: local("Galano Grotesque"),
    url("../assets/fonts/GalanoGrotesqueAltBold.otf") format("truetype");
}
@font-face {
  font-family: "galanosemi";
  src: local("Galano Grotesque"),
    url("../assets/fonts/GalanoGrotesqueAltMedium.otf") format("truetype");
}
@font-face {
  font-family: "galanosemibold";
  src: local("Galano Grotesque"),
    url("../assets/fonts/GalanoGrotesqueAltSemiBold.otf") format("truetype");
}
body {
  font-family: Inter, sans-serif;
  background-color: white;
}
.main {
  display: flex;
}